<header>
  <div class="header-img">
    <div class="header-bg"></div>
    <div class="header-text">
      <h1>Angular Blog Application</h1>
    </div>
  </div>
</header>
<mat-toolbar>
  <span>
    <a class="navigation" routerLink="/">
      Lista wpisów
    </a>
  </span>
  <ul>
    <li>
      <a class="navigation" routerLink="/add">Dodaj nowy wpis</a>
    </li>
  </ul>
</mat-toolbar>
<footer class="footer" #footer>©️ 2021 Angular Blog Application
  <p class="icons">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </p>
</footer>
